{# Template file is in Jinja syntax:
https://jinja.palletsprojects.com/en/3.1.x/
#}
{% extends "layouts/base.html.j2" %} {% block content %}
  {% include 'route/add_route_form.html.j2' %}
  {% include 'route/routes_table.html.j2' %}
{% endblock %}