{# Template file is in Jinja syntax:
https://jinja.palletsprojects.com/en/3.1.x/
#}
{% extends "layouts/base.html.j2" %} {% block content %}
  {% include 'color/add_color_form.html.j2' %}
  {% include 'color/color_table.html.j2' %}
{% endblock %}