{# Template file is in Jinja syntax:
https://jinja.palletsprojects.com/en/3.1.x/
#}
{% extends "layouts/base.html.j2" %} {% block content %}
  {% include 'routesetter/add_routesetter_form.html.j2' %}
  {% include 'routesetter/routesetter_table.html.j2' %}
{% endblock %}